@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../font/Inter-VariableFont.ttf") format('truetype');
}

@mixin font-bold {
    font: {
      weight: $font-bold;
    }
}
@mixin font-regular {
  font: {
    weight: $font-regular;
  }
}

.title {
  font-family: 'Inter';
  font-size: var(--r4xl);
  &.-bold {
    @include font-bold;
  }
  &.-regular {
    @include font-regular;
  }
}