@font-face {
  font-family: "Inter";
  src: local("Inter"), url("../font/Inter-VariableFont.ttf") format('truetype');
}

@mixin font-bold {
  margin: 0;
  font: {
    family: 'Inter';
    weight: $font-bold;
  }
}

@mixin font-regular {
  margin: 0;
  font: {
    family: 'Inter';
    weight: $font-regular;
  }
}

.label {
  font-size: var(--rmd);

  &.-bold {
    @include font-bold;
  }

  &.-regular {
    @include font-regular;
  }
}

.link {
  font-size: var(--rsm);

  &.-bold {
    @include font-bold;
  }

  &.-regular {
    @include font-regular;
  }
}

input {
  @include font-regular;
  font-size: var(--rsm);
}

h1, .title-1 {
  @include font-bold;
  font-size: var(--r4xl);
}

h2, .title-2 {
  @include font-bold;
  font-size: var(--r3xl);
}

h3, .title-3 {
  @include font-bold;
  font-size: var(--r2xl);
}

h4, .title-4 {
  @include font-bold;
  font-size: var(--rxl);
}

h5, .title-5 {
  @include font-bold;
  font-size: var(--rlg);
}

h6, .title-6 {
  @include font-bold;
  font-size: var(--rmd);
}

p, .body {
  @include font-regular;
  font-size: var(--rsm);
}