// COLORS
$clay: #A0AEC;
$dark-green: #489983;
$dark-red: #9F3B3B;
$grey-light: #E0E0E0;
$light-green: #53AE96;
$light-red: #CD7979;
$primary-dark-purple: #9449E9;
$primary-light-purple: #B480EF;
$purple-grey: #9283A4;
$text-black: #060E0E;
$white: #FFFFFF;

// FONT WEIGHT
$semi-bold: 600;
$medium: 500;
$regular: 400;