.button {
  border: none;
  border-radius: $default-radius;
  color: $white;
  cursor: pointer;
  outline: none;
  padding: 4px 16px;

  &:hover {
    box-shadow: $drop-shadow;
  }

  &:focus {
    box-shadow: $inner-shadow;
  }

  &.-disabled {
    cursor: auto;
    pointer-events: none;
  }

  &.-sm {

  }

  &.-md {

  }

  &.-lg {

  }

  &.-xl {

  }

  &.-primary {
    background-color: $purple-500;

    &:hover {
      background-color: $purple-600;
    }

    &:focus {
      background-color: $purple-600;
    }

    &.-disabled {
      background-color: $purple-100;
      color: $purple-200;
    }
  }

  &.-secondary {
    background-color: $green-200;

    &:hover {
      background-color: $green-400;
    }

    &:focus {
      background-color: $green-400;
    }

    &.-disabled {
      background-color: $green-200;
      color: $green-100;
    }
  }

  &.-destructive {
    background-color: $red-400;
    color: $black;

    &:hover {
      background-color: $red-500;
    }

    &:focus {
      background-color: $red-500;
    }

    &.-disabled {
      background-color: $red-100;
      color: $red-200;
    }
  }
}